.navbar{
    padding: 10px;
    display: flex;
}

.logo {
    height: 30px;
    display: inline-block;
    margin-left: 25%;
}

.exit {
   display: inline-block;
   font-weight: bold;
   margin-left: 470px;
   margin-top: 5px;
   
}

.home-illustration-section {
    height: 22rem;
    width: 50%;
    background-color: var(--brandDarker);
    border-radius: 1.5rem;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeIllustration {
    height: 22rem;
}

.home-illustration-title{
    font-size: 3vw;
    max-width: 27vw;
    text-align: center;
    line-height: 3vw;
    margin-bottom: 2rem;
    margin-left: 10px;
    color: #f5f5f5;
    flex-direction: column;
}

.contacts {
    margin-left: 25%;
    margin-top: 20px;
}

.home-button{
    align-items: center;
    height: 50px;
    border: none;
    background-color: var(--contrast);
    border-radius: .3rem;
    color: #f5f5f5;
    font-size: 1rem;
    cursor: pointer;
    transition: ease .3s;
    margin-bottom: 1rem;
    padding: 1rem;
    margin-left: 50px;
}

.home-button:hover{
    background-color: var(--contrastDarker);
}